<form novalidate (ngSubmit)="editBook()" [formGroup]="data" class="row justify-content-md-center">
  <div class="title">
    <a routerLink="/books">Book Page</a>
  </div>
  <div class="col-md-8">
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Name book:</label>
      <div class="col-md-10">
        <input class="form-control" type="text"  formControlName="title">
      </div>
      <label class="col-md-2 col-form-label">Author:</label>
      <div class="col-md-10">
        <input class="form-control" type="text"  formControlName="author">
      </div>
      <label class="col-md-2 col-form-label">Description:</label>
      <div class="col-md-10">
        <input class="form-control" type="text"  formControlName="description">
      </div>
    </div>
  </div>
  <input type="submit" value="submit">
</form>
